.popup {
  .overlay {
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 100;
  }
  .popup-wrapper {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
    z-index: 110;

    .popup-block {
      position: relative;
      transform: translateY(-50%);
      max-width: 400px;
      margin: 0 auto;
      padding: 20px;
      background: #fff;
      border-radius: 7px;
      h1 {
        font-weight: 100;
        padding: 0;
        margin: 0 0 10px 0;
      }
    }
  }
}